.homepage {
    // min-width: 500px;
    max-width: 800px;
    text-align: center;
    color: @textColor;

    .latest-projects {
        text-align: left;
    }

    .latest-projects-list {
        text-align: left;
    }

}