---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>You don't know until you try!</h2>
</BaseLayout>
