---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <p>I have no idea how you found this site, but welcome! 
    My name is Zach and I'm a software engineer living in the central Florida area.  
    When I'm not writing software, I can often be found pursuing my latest hobbies, which change frequently.  
    This site is to document the various things I decide to try and encourage others to do the same!</p>
</BaseLayout>
