---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
   imagePath: string;
   altText: string;
    // TODO - ADD OTHER VARIABLES LIKE SPECIFIED IN THIS DOC: 
    // https://docs.astro.build/en/recipes/dynamically-importing-images/
}

const { imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/pages/posts/dog-off-couch/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<br />
<div class="image-container">
    <Image class="image" src={images[imagePath]()} alt={altText} />
</div>
<br />

<style>
    .image-container {
        display: flex;
        justify-content: center;
    }

    .image {
        width: 400px;
        max-width: 100%;
    }
</style>

