---
const platform = "github";
const username = "zshearin";

---

<footer class="border-t border-neutral-800 justify-center items-center">
  
  <p class="pt-4 top-border">Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a> or <a href={`https://www.buymeacoffee.com/${username}`}>buy me a coffee</a>!</p>

</footer>
