---
const platform = "github";
const username = "zshearin";
---

<footer class="footer justify-center items-center">
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a> or <a href={`https://www.buymeacoffee.com/${username}`}>buy me a coffee</a>!</p>
</footer>

<style>
  	a {
        color: #ff7034;
    }
</style>