---
const platform = "github";
const username = "zshearin";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>

<style>
  	a {
        color: #ff7034;
    }
</style>