---
---
<div class="nav-links">
    <a href="/" class="hover-underline-animation">Home</a>
    <a href="/about/" class="hover-underline-animation">About</a>
    <a href="/blog/" class="hover-underline-animation">Blog</a>
</div>
