<div class="homepage mx-auto">
    <img class="center" src="../../assets/DIYNotTryV1.png">
    <!-- <span class="title mb-4 place-content-center flex flex-row">D.I. <p class="white">(WH)</p>Y. NOT TRY?</span> -->
    <span class="title place-content-center flex flex-row">D.I.<p class="white">(WH)</p>Y.</span>
    <span class="title mb-4 place-content-center flex flex-row">NOT TRY?</span>
    <div class="latest-projects-title title pt-2"> Latest Projects</div>
    <ul>
        <li>Project 1 coming soon!</li>
        <li>Project 2 coming soon!</li>
        <li>Project 3 coming soon!</li>
    </ul>
</div>
