<div class="homepage mx-auto">
    <img class="center" src="../../assets/DIYNotTryV1.svg" viewBox="">
    <span class="flex flex-row place-content-center">
        <span class="flex flex-col mt-2 mb-3">
            <span class="font-smaller tracking-widest ">DI</span>
            <span class="font-even-smaller tracking-tightest">
                (
                <span class="in-parenthesis-text-color tracking-widest">WH</span>
                )
            </span>
        </span>
        <span class="font-larger mr-3 multicolortext mt-1">Y</span>
        <span class="font-larger mt-1">NOT TRY</span>    
    </span>
    <div class="latest-projects-title title pt-2"> Latest Projects</div>
    <ul>
        <li>Project 1 coming soon!</li>
        <li>Project 2 coming soon!</li>
        <li>Project 3 coming soon!</li>
    </ul>
</div>
