<div class="homepage mx-auto">
    <div class="title mb-4">DIY Not Try</div>
    <img class="center pl-6" src="../../assets/DIYNotTryV1.png">
    
    <!-- <div class="list-of-articles my-1">
        Welcome to DIY Ideas! We have a wide variety of unique and creative DIY projects for your home, garden, or office. Browse our categories by skill level, from beginner to advanced, and find your next project. Our detailed instructions and helpful community make it easy to complete your project. Check out our blog for additional inspiration and tutorials. Start your next DIY project today!
    </div>     -->



    <div class="latest-projects-title title pt-2"> Latest Projects</div>
    <ul>
        <li>what 1</li>
        <li>what 1</li>
        <li>what 1</li>
    </ul>

    <!-- <div class="latest-projects-list">
        <div class="latest-project-item">Article 1</div>
        <div class="latest-project-item">Article 2</div>
        <div class="latest-project-item">Article 3</div>
        <div class="latest-project-item">Article 4</div>
    </div> -->
    <!-- Welcome to DIY Ideas, the website that provides you with endless inspiration for your next DIY project!

    On DIY Ideas, you'll find a vast collection of creative and unique DIY projects for your home, garden, or office. Our website offers a user-friendly interface that allows you to easily browse and select from a variety of project categories, such as woodworking, crafting, gardening, and more.
    
    We understand that not everyone has the same level of DIY experience, so we've categorized our projects based on skill level, from beginner to advanced. This way, you can find a project that suits your abilities and interests.
    
    Our projects are accompanied by detailed instructions, materials lists, and helpful tips and tricks to guide you through the process. And if you ever get stuck, our helpful community of DIY enthusiasts is always ready to offer advice and support.
    
    In addition to our curated collection of DIY projects, we also offer a blog section that provides you with additional inspiration, project ideas, and tutorials to help you hone your skills.
    
    So why wait? Explore DIY Ideas today and find your next exciting DIY project!     -->
</div>